* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black !important; */
}

html, body {
    height: 100%;
  }
  

html {
    font-family: 'Noto Serif Thai', serif;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-color: #f7f9f9;
    display: flex;
    flex-direction: column;
    /* margin: 0 1rem 1rem 1rem; */
    overflow-x: hidden;
}

header {
    margin: 1rem;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    
}

main {
    height: 100vh;
}

.titles {
    padding: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.character-container-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.character-container-2 {
    display: flex;
    justify-content: space-around;
}

.consonants {
    display: flex;
    flex-direction: column;
    border: 1px solid #b2babb;
    border-radius: 5px;
    margin: 0 10rem 2rem 10rem;
}

.vowels {
    display: flex;
    flex-direction: column;
    border: 1px solid #b2babb;
    border-radius: 5px;
    margin: 0 10rem 2rem 10rem;
}

.tone-marks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #b2babb;
    border-radius: 5px;
    margin: 0 10rem 2rem 10rem;
    max-width: 25%;
    max-height: 25%;
    text-align: center;
    font-size: 6rem;
    gap: 1rem;
    padding: 3rem;
}

.tone-marks h2 {
    width: 100%;
}

.special-characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #b2babb;
    border-radius: 5px;
    margin: 0 10rem 2rem 10rem;
    max-width: 25%;
    max-height: 25%;
    text-align: center;
    font-size: 6rem;
    gap: 1rem;
    padding: 3rem;
}

.special-characters h2 {
    width: 100%;
}

h2 {
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-weight: normal;
    font-size: 2rem;
}

/* Gives a bit of spacing for the "Low Class Consonant" Heading */
.consonants > h2 {
    padding: 1rem;
}

/* For the sub-containers (inside consonants and vowels) */
.low-class,
.middle-class,
.high-class,
.short-vowels,
.long-vowels {
    display: flex;
    justify-content:space-around;
    font-size: 6rem;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding: 3rem;
    margin-bottom: 1rem;
}

/* The styles for the "flashcards" in each section. */
.lc-card,
.mc-card,
.hc-card,
.sh-vwl-card,
.l-vwl-card,
.tone-card,
.sc-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #b2babb;
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1px;
}


/* INDIVIDUAL STYLES FOR SOME FLASHCARDS */
.sh-vwl-card {
    min-width: 10rem;
}

.hc-card {
    width: 85px;
    height: 130px;
}

.tone-card {
    min-width: 25%;
    max-width: 25%;
}

.sc-card {
    min-width: 90px;
    max-height: 150px;
}

.lc-card:hover {
    /* background-color: #b2babb; */
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(120deg, #8bcbfc, #6760fa);
}

.mc-card:hover {
    /* background-color: #b2babb; */
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(120deg, #fbefa4, #ff9645);
}

.hc-card:hover {
    /* background-color: #b2babb; */
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(120deg, #fbf7c9, #f91a0a);
}

.sh-vwl-card:hover {
    /* background-color: #b2babb; */
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(30deg, #48f8c3, #fbf7c9);
}

.l-vwl-card:hover {
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(0deg, #cb62ef, #f4f8d7);
}

.tone-card:hover {
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(180deg, #f4f8d7, #044e06);
}

.sc-card:hover {
    /* background-color: #b2babb; */
    transform: translateY(-5px); /* Moves the card upward by 5px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Makes the shadow stronger to give depth */
    background: linear-gradient(0deg, #f4f8d7, #fcfc39);
}

/* Makes the text color lighter upon hover */
.lc-card:hover .eng-txt,
.mc-card:hover .eng-txt,
.hc-card:hover .eng-txt,
.l-vwl-card:hover .eng-txt,
.tone-card:hover .eng-txt {
    color: #f7f9f9;
}

.thai-char {
    text-align: center;
}

.eng-txt {
    color: #616a6b;
    font-size: 1rem;
    margin-top: 1rem;

}